# Type de données

In [6]:
# Convertir un type de données

In [7]:
#str() et int()

In [8]:
int_to_str = str(2)

In [9]:
print(int_to_str)

2

In [10]:
print(type(int_to_str))

<class 'str'>

# Opérations sur variables

In [11]:
# Addition
somme = 95 + 82

In [13]:
print(somme)

177

In [14]:
# Puissance
square = 5
squared = square ** 2
print(squared)

25

Multiplication *

Division /

# Création d'une liste

Liste = ensemble de valeurs

In [16]:
months = []

In [17]:
# append()
months.append("Janvier")
months.append("Février")

In [18]:
print(months)

['Janvier', 'Février']

In [19]:
print(type(months))

<class 'list'>

In [20]:
months = []
months.append(1)
months.append("Janvier")
months.append(2)

In [21]:
months

[1, 'Janvier', 2]

In [22]:
months_2 = [1, "Janvier", 2, "Février", 3]

In [23]:
print(months_2)

[1, 'Janvier', 2, 'Février', 3]

In [24]:
temperatures = ["France", 122.5, "Spain"]

In [25]:
temperatures.append("United States")

In [26]:
temperatures

['France', 122.5, 'Spain', 'United States']

# Récupérer une valeur dans une liste

In [27]:
years = [2013, 2014, 2016, 2017]
first_value = years[0]

In [28]:
print(first_value)

2013

# Récupérer la longueur d'une liste

In [32]:
# len()
len(years)

4

In [34]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8]
total_length = len(int_months)
last_value = int_months[len(int_months) -1]

In [35]:
print(last_value)

8

# Récupérer un morceau de liste (slicing)

In [2]:
months = ["janv", "fev", "mars", "avril", "mai", "juin", "juillet", "aout"]
month_slicing_1 = months[4:6] # positions 4 et 5, 6 exclu
print(month_slicing_1)

['mai', 'juin']

In [4]:
month_slicing_2 = months[5:]
print(month_slicing_2) # valeurs à partir de la position 5

['juin', 'juillet', 'aout']

In [5]:
month_slicing_3 = months[0:3] # 3 premières valeurs
print(month_slicing_3)

['janv', 'fev', 'mars']

In [6]:
month_slicing_4 = months[len(months)-4:] # 4 dernières valeurs
print(month_slicing_4)

['mai', 'juin', 'juillet', 'aout']

# Fichiers et boucles
## Ouvrir et lire un fichier
### Ouverture d'un fichier

In [13]:
# open(fichier, mode)
open("python.txt", "r") # ouvre python .txt en mode lecture (read)

In [14]:
f = open("python.txt", "r")
print(f)

<_io.TextIOWrapper name='python.txt' mode='r' encoding='UTF-8'>

### Lecture d'un fichier

In [15]:
# read()
g = f.read()
print(g)

Je lis le fichier python.txt

In [24]:
f = open('departements_fr.csv', 'r', encoding = "ISO-8859-1")
data = f.read()
print(data)

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051
Ardennes,287775
Ariège,158076
Aube,316098
Aude,375065
Aveyron,289901
Bas-Rhin,1131812
Bouches-du-Rhône,2035475
Calvados,708407
Cantal,152400
Charente,366787
Charente-Maritime,656046
Cher,318590
Corrèze,249684
Corse-du-Sud,154100
Côte-d'Or,545001
Côtes-d'Armor,617413
Creuse,124948
Deux-Sèvres,384655
Dordogne,428651
Doubs,549155
Drôme,514104
Essonne,1286908
Eure,616076
Eure-et-Loir,445083
Finistère,935393
Gard,752382
Gers,197988
Gironde,1556663
Guadeloupe,406706
Guyane,254845
Haute-Corse,175499
Haute-Garonne,1344579
Haute-Loire,234078
Haute-Marne,186698
Hautes-Alpes,145213
Haute-Saône,246022
Haute-Savoie,806447
Hautes-Pyrénées,236577
Haute-Vienne,384708
Haut-Rhin,775941
Hauts-de-Seine,1617484
Hérault,1127333
Ille-et-Vilaine,1060051
Indre,232802
Indre-et-Loire,619004
Isère,1271938
Jura,270826
La Réunion,541487
Landes,414090
Loire,774262
Loire-Atlantique,1382766
Loiret,688098
Loir-et-Cher,344121
Lot,180016
Lot-et-Garonne,343198
Lozère,80423
Maine-et-Loire,829156
Manche,518322
Marne,584297
Martinique,390252
Mayenne,317716
Meurthe-et-Moselle,746687
Meuse,197763
Morbihan,764338
Moselle,1065894
Nièvre,221048
Nord,2640622
Oise,838646
Orne,297109
Paris,2243739
Pas-de-Calais,1497668
Puy-de-Dôme,661248
Pyrénées-Atlantiques,688451
Pyrénées-Orientales,474842
Rhône,1833002
Saône-et-Loire,574229
Sarthe,583961
Savoie,440777
Seine-et-Marne,1400477
Seine-Maritime,1284107
Seine-Saint-Denis,1582139
Somme,583641
Tarn,396341
Tarn-et-Garonne,258696
Territoire de Belfort,147647
Val-de-Marne,1377511
Val-d'Oise,1221946
Var,1055745
Vaucluse,566592
Vendée,681469
Vienne,444347
Vosges,386978
Yonne,352433
Yvelines,1449398

# Séparation des éléments
## Création d'une liste à partir d'une chaîne de caractère

In [25]:
type(data)

str

In [27]:
# split(délimiteur)
names = "Tom, Seb, Bob"
split_list = names.split(",")
print(split_list)

['Tom', ' Seb', ' Bob']

In [28]:
rows = data.split("\n")
print(rows[0:5])

['Ain,643309', 'Aisne,554040', 'Allier,353262', 'Alpes-de-Haute-Provence,166298', 'Alpes-Maritimes,1098785']

# Les boucles / loops

In [32]:
# for ... in ... :
# for var_iteratrice in sequence :
#    corps de la boucle
cities = ["Paris", "Madrid", "Rome"]

for city in cities:
    print(city)

Paris
Madrid
Rome

In [33]:
ten_rows = rows[0:10]
for row in ten_rows:
    print(row)

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051
Ardennes,287775
Ariège,158076
Aube,316098
Aude,375065

# Liste de listes

In [34]:
cities_number = ["Paris, 45", "Madrid, 171", "Rome, 12"]

final_list = []

for row in cities_number:
    split_list = row.split(",")
    final_list.append(split_list)
    
print(final_list)

[['Paris', ' 45'], ['Madrid', ' 171'], ['Rome', ' 12']]

In [35]:
print(final_list[0])

['Paris', ' 45']

In [37]:
final_data = []

for row in rows:
    split_list = row.split(",")
    final_data.append(split_list)
    
print(final_data[0:5])

[['Ain', '643309'], ['Aisne', '554040'], ['Allier', '353262'], ['Alpes-de-Haute-Provence', '166298'], ['Alpes-Maritimes', '1098785']]

# Récupérer et afficher les éléments d'une liste de listes

In [40]:
first_list = final_data[0]
print(first_list)

['Ain', '643309']

In [41]:
first_value = first_list[0]
print(first_value)

Ain

In [42]:
first_list_first_value = final_data[0][0]
print(first_list_first_value)

Ain

### Boucle à travers une liste de listes

In [44]:
five_elements = final_data[0:5]

departments_list = []

departments_list.append(five_elements[0][0])
departments_list.append(five_elements[1][0])
departments_list.append(five_elements[2][0])
departments_list.append(five_elements[3][0])
departments_list.append(five_elements[4][0])

print(departments_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes']

In [47]:
department_populations = []

for row in five_elements:
    department_population = row[1]
    department_populations.append(department_population)
    
print(department_populations)

['643309', '554040', '353262', '166298', '1098785']

In [48]:
departments_list = []

for row in final_data:
    department = row[0]
    departments_list.append(department)
    
print(departments_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège', 'Aube', 'Aude', 'Aveyron', 'Bas-Rhin', 'Bouches-du-Rhône', 'Calvados', 'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze', 'Corse-du-Sud', "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Deux-Sèvres', 'Dordogne', 'Doubs', 'Drôme', 'Essonne', 'Eure', 'Eure-et-Loir', 'Finistère', 'Gard', 'Gers', 'Gironde', 'Guadeloupe', 'Guyane', 'Haute-Corse', 'Haute-Garonne', 'Haute-Loire', 'Haute-Marne', 'Hautes-Alpes', 'Haute-Saône', 'Haute-Savoie', 'Hautes-Pyrénées', 'Haute-Vienne', 'Haut-Rhin', 'Hauts-de-Seine', 'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère', 'Jura', 'La Réunion', 'Landes', 'Loire', 'Loire-Atlantique', 'Loiret', 'Loir-et-Cher', 'Lot', 'Lot-et-Garonne', 'Lozère', 'Maine-et-Loire', 'Manche', 'Marne', 'Martinique', 'Mayenne', 'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre', 'Nord', 'Oise', 'Orne', 'Paris', 'Pas-de-Calais', 'Puy-de-Dôme', 'Pyrénées-Atlantiques', 'Pyrénées-Orientales', 'Rhône', 'Saône-et-Loire', 'Sarthe', 'Savoie', 'Seine-et-Marne', 'Seine-Maritime', 'Seine-Saint-Denis', 'Somme', 'Tarn', 'Tarn-et-Garonne', 'Territoire de Belfort', 'Val-de-Marne', "Val-d'Oise", 'Var', 'Vaucluse', 'Vendée', 'Vienne', 'Vosges', 'Yonne', 'Yvelines']

In [58]:
# Liste avec nombre d'habitants (entier) de tous les éépartements français

f = open("departements_fr.csv", "r", encoding="ISO-8859-1")
data = f.read()

departments_population = []

data_list = data.split('\n')

for row in data_list:
    population = int(row.split(',')[1])
    departments_population.append(population)
    
print(departments_population)

[643309, 554040, 353262, 166298, 1098785, 332051, 287775, 158076, 316098, 375065, 289901, 1131812, 2035475, 708407, 152400, 366787, 656046, 318590, 249684, 154100, 545001, 617413, 124948, 384655, 428651, 549155, 514104, 1286908, 616076, 445083, 935393, 752382, 197988, 1556663, 406706, 254845, 175499, 1344579, 234078, 186698, 145213, 246022, 806447, 236577, 384708, 775941, 1617484, 1127333, 1060051, 232802, 619004, 1271938, 270826, 541487, 414090, 774262, 1382766, 688098, 344121, 180016, 343198, 80423, 829156, 518322, 584297, 390252, 317716, 746687, 197763, 764338, 1065894, 221048, 2640622, 838646, 297109, 2243739, 1497668, 661248, 688451, 474842, 1833002, 574229, 583961, 440777, 1400477, 1284107, 1582139, 583641, 396341, 258696, 147647, 1377511, 1221946, 1055745, 566592, 681469, 444347, 386978, 352433, 1449398]