# Les dictionnaires
## Qu'est-ce qu'un dictionnaire ?

In [3]:
# Exemple pour récupérer moyenne de Sarah
students = ["Thomas", "Matt", "Sarah", "Nina"]
scores = [16, 15, 17, 14]

index = [0, 1, 2, 3]
name  = "Sarah"
score = 0

for i in index:
    if students[i] == name:
        score = scores[i]
        
print(score)
# Lourd comme requête

17

In [4]:
# Liste à une valeur pour chaque index numérique
# dictionnaire à comme index une chaîne de caractères

In [5]:
scores = {} # dictionnaire vide

In [6]:
scores["Nina"] = 14

In [7]:
print(scores)

{'Nina': 14}

In [8]:
scores["Thomas"] = 16
scores["Sarah"]  = 17
scores["Matt"]   = 15

In [9]:
print(scores)

{'Nina': 14, 'Thomas': 16, 'Sarah': 17, 'Matt': 15}

In [10]:
animals = {"poules": 120, "chèvres": 46, "chevaux": 23, "vache": 55}

In [14]:
animals
# ordre changé par Python

{'chevaux': 23, 'chèvres': 46, 'poules': 110, 'vache': 55}

In [15]:
animals['poules'] = 110

In [16]:
animals

{'chevaux': 23, 'chèvres': 46, 'poules': 110, 'vache': 55}

In [17]:
animals['chevaux'] = animals['chevaux'] + 5

In [18]:
animals

{'chevaux': 28, 'chèvres': 46, 'poules': 110, 'vache': 55}

## Training

In [19]:
scores["Marie"] = 15

In [20]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 14, 'Sarah': 17, 'Thomas': 16}

In [21]:
scores["Nina"] += 2

In [22]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 16, 'Sarah': 17, 'Thomas': 16}

In [23]:
scores["Thomas"] = 10

In [24]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 16, 'Sarah': 17, 'Thomas': 10}

In [29]:
matt_found = "Matt" in scores
tom_found  = "Tom" in scores
      
print(matt_found)
print(tom_found)

True
False

## La condition if / else

In [30]:
temperature = 50

if temperature > 40:
    print("Il fait chaud !")
if temperature <= 40:
    print("Il fait froid...")

Il fait chaud !

In [31]:
temperature = 10

if temperature > 40:
    print("Il fait chaud !")
else:
    print("il fait froid...")

il fait froid...

In [32]:
temperatures = [50, 20, 10, 35]

high_temperatures = []
low_temperatures  = []

for temperature in temperatures:
    if temperature > 40:
        high_temperatures.append(temperature)
    else:
        low_temperatures.append(temperature)
        
print(high_temperatures)
print(low_temperatures)

[50]
[20, 10, 35]

## Training

In [35]:
planet_names = ["Mercure", "Vénus", "Terre", "Mars", "Jupiter", "Saturne", "Neptune", "Uranus"]

long_names  = []
short_names = []

for planet in planet_names:
     if len(planet) > 5:
        long_names.append(planet)
     else:
        short_names.append(planet)
        
print(long_names)
print(short_names)

['Mercure', 'Jupiter', 'Saturne', 'Neptune', 'Uranus']
['Vénus', 'Terre', 'Mars']

## Compter les éléments d'une liste et présenter les résultats dans un dictionnaire

In [36]:
fruits = ["Citron", "Banane", "Pomme", "Pomme", "Pomme", "Banane", "Banane", "Pomme"]

fruits_count = {}

for item in fruits:
    if item in fruits_count: # si présent on ajoute 1
        fruits_count[item] += 1
    else:
        fruits_count[item] = 1
        
print(fruits_count)

{'Citron': 1, 'Banane': 3, 'Pomme': 4}

## Training

In [63]:
f = open("../data/madrid-weather-2016.csv", "r")
data = f.read()
weather_data = data.split('\n')

new_weather_data = weather_data[1:len(weather_data)]

new_weather_data[0:5]

['1,Soleil', '2,Soleil', '3,Soleil', '4,Soleil', '5,Soleil']

In [65]:
weather = []

for item in new_weather_data:
    temp_weather = item.split(',')[1]
    weather.append(temp_weather)
    
print(weather[0:5])

['Soleil', 'Soleil', 'Soleil', 'Soleil', 'Soleil']

In [66]:
weather_counts = {}

for item in weather:
    # si déjà présent
    if item in weather_counts:
        weather_counts[item] += 1
    else:
        weather_counts[item] = 1
        
print(weather_counts)

{'Soleil': 210, 'Pluie': 25, 'Nuage': 125, 'Nuage-Pluie': 4, 'Orage': 1}