In [6]:
# Convertir un type de données

In [7]:
#str() et int()

In [8]:
int_to_str = str(2)

In [9]:
print(int_to_str)

2

In [10]:
print(type(int_to_str))

<class 'str'>

# Opérations sur variables

In [11]:
# Addition
somme = 95 + 82

In [13]:
print(somme)

177

In [14]:
# Puissance
square = 5
squared = square ** 2
print(squared)

25

Multiplication *

Division /

# Création d'une liste

Liste = ensemble de valeurs

In [16]:
months = []

In [17]:
# append()
months.append("Janvier")
months.append("Février")

In [18]:
print(months)

['Janvier', 'Février']

In [19]:
print(type(months))

<class 'list'>

In [20]:
months = []
months.append(1)
months.append("Janvier")
months.append(2)

In [21]:
months

[1, 'Janvier', 2]

In [22]:
months_2 = [1, "Janvier", 2, "Février", 3]

In [23]:
print(months_2)

[1, 'Janvier', 2, 'Février', 3]

In [24]:
temperatures = ["France", 122.5, "Spain"]

In [25]:
temperatures.append("United States")

In [26]:
temperatures

['France', 122.5, 'Spain', 'United States']

# Récupérer une valeur dans une liste

In [27]:
years = [2013, 2014, 2016, 2017]
first_value = years[0]

In [28]:
print(first_value)

2013

# Récupérer la longueur d'une liste

In [32]:
# len()
len(years)

4

In [34]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8]
total_length = len(int_months)
last_value = int_months[len(int_months) -1]

In [35]:
print(last_value)

8